[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
wandb = "*"
matplotlib = "*"
numpy = "*"
tqdm = "*"
sklearn = "*"
scipy = "*"
pillow = "*"
pydub = "*"
torchvision = "*"
torch = "*"
opencv-python = "*"
argparse = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"
